In [3]:
import pandas as pd

# Load the CSV files
file_paths = ["../datasets/01-bols.csv", "../datasets/02-bols.csv", "../datasets/03-bols.csv"]
dataframes = [pd.read_csv(file) for file in file_paths]
data = pd.concat(dataframes, ignore_index=True)

In [12]:
print(data.head())
print(data.info())
print(data.describe())
print(data.isnull().sum())

  Arrival Date        Bol Number                  Carrier SCAC Code  \
0   2024/05/30   FLXTEXP03292425  Flxt, Flexible Transportation Inc
1   2024/05/30  COSU638360584001    Cosu, China Ocean Steamship Ltd
2   2024/05/30  ONEYPNHE07436600                               Oney
3   2024/05/30  CHSL472710875TAO        Chsl, Chisley Motor Coaches
4   2024/05/30   TZWH62404100301                               Tzwh

                                     Company Address Company Country  \
0  2605 North Berkeley Lake Road Building 100 Sui...   United States
1  555 S Promenade Ave Ste 105 Corona Ca92879 Cor...   United States
2        8320 E Hartford Drive Scottsdale Az85255 Us   United States
3                                4105 Rock Quarry Rd   United States
4                                      1011 1St St W   United States

  Company Country Code Company Website          Company Contact Info  \
0                   US             NaN  Phone Numbers:  --- Emails:
1                   US             NaN  Phone Numbers:  --- Emails:
2                   US             NaN  Phone Numbers:  --- Emails:
3                   US             NaN  Phone Numbers:  --- Emails:
4                   US             NaN  Phone Numbers:  --- Emails:

                      Company Name  Company Total Shipments  ...  \
0              A&D Engineering Inc                     1104  ...
1                        Amzey Inc                      215  ...
2  American Pacific Industries Inc                    14050  ...
3    Manna Pro Dba Hero Pet Brands                     1715  ...
4                   Debra Peterson                        9  ...

  Supplier Country Code                                      Supplier Name  \
0                    JP                                         A&D Co Ltd
1                    CN                      Taian Pengfei Pet Food Co Ltd
2                    KH           General Tires Technology Cambodia Co Ltd
3                    CN  Shandong Aishule Hygiene Products C Northwest ...
4                    CN                         Hainan Golden Shell Co Ltd

  Supplier Website         Supplier Contact Info Supplier Total Shipments  \
0              NaN  Phone Numbers:  --- Emails:                       768
1              NaN  Phone Numbers:  --- Emails:                        79
2              NaN  Phone Numbers:  --- Emails:                      1253
3              NaN  Phone Numbers:  --- Emails:                      1429
4              NaN  Phone Numbers:  --- Emails:                    428755

    TEU    Vessel Code      Vessel Name  Voyage Weight
0  3.00        9312999        Nyk Orion    076e  17055
1  1.62        9355563  Cosco Kaohsiung    102e  12200
2  1.50        9312999        Nyk Orion    076e   8855
3  1.50        9355563  Cosco Kaohsiung    102e   9646
4  0.21  Seaspan Chiba    Seaspan Chiba     78e      2

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Arrival Date               6000 non-null   object
 1   Bol Number                 6000 non-null   object
 2   Carrier SCAC Code          6000 non-null   object
 3   Company Address            5999 non-null   object
 4   Company Country            6000 non-null   object
 5   Company Country Code       6000 non-null   object
 6   Company Website            99 non-null     object
 7   Company Contact Info       6000 non-null   object
 8   Company Name               6000 non-null   object
 9   Company Total Shipments    6000 non-null   int64
 10  Container Size             6000 non-null   object
 11  Container Type             5405 non-null   object
 12  Destination Port           6000 non-null   object
 13  Destination Port Code      6000 non-null   int64
 14  Departure Port             5957 non-null   object
 15  Departure Port Code        6000 non-null   int64
 16  Estimated Arrival Date     6000 non-null   int64
 17  HS Code Full Description   3000 non-null   object
 18  HS Code                    6000 non-null   int64
 19  HS Code Description        3000 non-null   object
 20  Last Visit Foreign Port    65 non-null     object
 21  Master Bol Number          6000 non-null   object
 22  Marks & Numbers            2552 non-null   object
 23  Marks Numbers Raw          3273 non-null   object
 24  Notify Party Address       5085 non-null   object
 25  Notify Party Country Code  5085 non-null   object
 26  Notify Party Name          5089 non-null   object
 27  Product Description        5997 non-null   object
 28  Product Description Raw    6000 non-null   object
 29  Quantity                   6000 non-null   int64
 30  Quantity Unit              6000 non-null   object
 31  Supplier Address           6000 non-null   object
 32  Supplier Country           5996 non-null   object
 33  Supplier Country Code      5996 non-null   object
 34  Supplier Name              6000 non-null   object
 35  Supplier Website           7 non-null      object
 36  Supplier Contact Info      6000 non-null   object
 37  Supplier Total Shipments   6000 non-null   int64
 38  TEU                        6000 non-null   float64
 39  Vessel Code                6000 non-null   object
 40  Vessel Name                6000 non-null   object
 41  Voyage                     6000 non-null   object
 42  Weight                     6000 non-null   int64
dtypes: float64(1), int64(8), object(34)
memory usage: 2.0+ MB
None
       Company Total Shipments  Destination Port Code  Departure Port Code  \
count              6000.000000            6000.000000           6000.00000
mean              22577.737167            2966.447833          44684.49350
std               85565.217503            1422.976220          15641.21803
min                   1.000000             101.000000           1822.00000
25%                 201.750000            1703.000000          24741.00000
50%                1441.000000            2709.000000          54930.00000
75%                7479.000000            4601.000000          57078.00000
max              982080.000000            5311.000000          99930.00000

       Estimated Arrival Date       HS Code       Quantity  \
count            6.000000e+03   6000.000000    6000.000000
mean             2.024051e+07  20571.387167    1322.122500
std              3.821945e+01   8111.260699    2423.807666
min              2.024032e+07  10053.000000       1.000000
25%              2.024051e+07  10639.000000     279.750000
50%              2.024052e+07  20230.000000     976.000000
75%              2.024052e+07  30379.000000    1609.250000
max              2.024062e+07  38902.000000  120000.000000

       Supplier Total Shipments          TEU        Weight
count               6000.000000  6000.000000  6.000000e+03
mean               30352.212833     1.860107  2.436792e+04
std                96472.785506     1.697311  1.622924e+05
min                    1.000000     0.000000  1.000000e+00
25%                  253.000000     1.500000  8.435000e+03
50%                 1356.000000     2.000000  1.937350e+04
75%                 5896.000000     2.000000  2.382575e+04
max               428755.000000    61.750000  8.978718e+06
Arrival Date                    0
Bol Number                      0
Carrier SCAC Code               0
Company Address                 1
Company Country                 0
Company Country Code            0
Company Website              5901
Company Contact Info            0
Company Name                    0
Company Total Shipments         0
Container Size                  0
Container Type                595
Destination Port                0
Destination Port Code           0
Departure Port                 43
Departure Port Code             0
Estimated Arrival Date          0
HS Code Full Description     3000
HS Code                         0
HS Code Description          3000
Last Visit Foreign Port      5935
Master Bol Number               0
Marks & Numbers              3448
Marks Numbers Raw            2727
Notify Party Address          915
Notify Party Country Code     915
Notify Party Name             911
Product Description             3
Product Description Raw         0
Quantity                        0
Quantity Unit                   0
Supplier Address                0
Supplier Country                4
Supplier Country Code           4
Supplier Name                   0
Supplier Website             5993
Supplier Contact Info           0
Supplier Total Shipments        0
TEU                             0
Vessel Code                     0
Vessel Name                     0
Voyage                          0
Weight                          0
dtype: int64

In [5]:
#Fill missing values with a placeholder
data.fillna('Unknown', inplace=True)
print(data.head())

  Arrival Date        Bol Number                  Carrier SCAC Code  \
0   2024/05/30   FLXTEXP03292425  Flxt, Flexible Transportation Inc
1   2024/05/30  COSU638360584001    Cosu, China Ocean Steamship Ltd
2   2024/05/30  ONEYPNHE07436600                               Oney
3   2024/05/30  CHSL472710875TAO        Chsl, Chisley Motor Coaches
4   2024/05/30   TZWH62404100301                               Tzwh

                                     Company Address Company Country  \
0  2605 North Berkeley Lake Road Building 100 Sui...   United States
1  555 S Promenade Ave Ste 105 Corona Ca92879 Cor...   United States
2        8320 E Hartford Drive Scottsdale Az85255 Us   United States
3                                4105 Rock Quarry Rd   United States
4                                      1011 1St St W   United States

  Company Country Code Company Website          Company Contact Info  \
0                   US         Unknown  Phone Numbers:  --- Emails:
1                   US         Unknown  Phone Numbers:  --- Emails:
2                   US         Unknown  Phone Numbers:  --- Emails:
3                   US         Unknown  Phone Numbers:  --- Emails:
4                   US         Unknown  Phone Numbers:  --- Emails:

                      Company Name  Company Total Shipments  ...  \
0              A&D Engineering Inc                     1104  ...
1                        Amzey Inc                      215  ...
2  American Pacific Industries Inc                    14050  ...
3    Manna Pro Dba Hero Pet Brands                     1715  ...
4                   Debra Peterson                        9  ...

  Supplier Country Code                                      Supplier Name  \
0                    JP                                         A&D Co Ltd
1                    CN                      Taian Pengfei Pet Food Co Ltd
2                    KH           General Tires Technology Cambodia Co Ltd
3                    CN  Shandong Aishule Hygiene Products C Northwest ...
4                    CN                         Hainan Golden Shell Co Ltd

  Supplier Website         Supplier Contact Info Supplier Total Shipments  \
0          Unknown  Phone Numbers:  --- Emails:                       768
1          Unknown  Phone Numbers:  --- Emails:                        79
2          Unknown  Phone Numbers:  --- Emails:                      1253
3          Unknown  Phone Numbers:  --- Emails:                      1429
4          Unknown  Phone Numbers:  --- Emails:                    428755

    TEU    Vessel Code      Vessel Name  Voyage Weight
0  3.00        9312999        Nyk Orion    076e  17055
1  1.62        9355563  Cosco Kaohsiung    102e  12200
2  1.50        9312999        Nyk Orion    076e   8855
3  1.50        9355563  Cosco Kaohsiung    102e   9646
4  0.21  Seaspan Chiba    Seaspan Chiba     78e      2

[5 rows x 43 columns]